@model WorkOrganizer.Domain.Entities.Project
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Scheduled jobs";
}

<div class="text-center">
    <h1 class="display-4">Scheduled jobs</h1>
</div>


<partial name="_NavBarProject" />

<p class="float-sm-right">
    <a asp-action="CreateJob" asp-route-projectId="@Model.Id">Add Scheduled Job</a>
</p>

<table class="table float-right" style="width:80%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Material
            </th>
            <th>
                Date
            </th>
            <th>
                Hours
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jobs.Where(x => !x.IsDone))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            
            <td>
                <a asp-action="EditJob" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteJob" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
