@*@model IEnumerable<WorkOrganizer.Domain.Entities.Job>*@
@using System.Collections
@using WorkOrganizer.Domain.Entities
@model WorkOrganizer.Domain.Entities.Project

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Completed jobs";
}
<div class="text-center">
    <h1 class="display-4">Completed jobs</h1>
</div>

<partial name="_NavBarProject" />

<br/>
<br/>

<table class="table float-right" style="width:80%">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Material
        </th>
        <th>
            Date
        </th>
        <th>
            Hours
        </th>
        <th>
            Project Id
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in (IEnumerable<Job>) ViewBag.ReportedJobs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
        </tr>
    }
    </tbody>
</table>

<table class="table float-right" style="width:80%">
    <thead>
        <tr>
            <th>
                Reported time
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewBag.ReportedTime
            </td>
        </tr>
    </tbody>
</table>