@model IEnumerable<WorkOrganizer.Domain.Entities.ApplicationUser>
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">List of users</h1>
</div>
<br/>

@*
<div class="table float-left" style="width:80%">
    <div>
        @foreach (var item in Model)
        {
            <table style="width:80%">
                <tr>
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.Email</td>

                </tr>
            </table>
        }
    </div>
</div>
*@

<table class="table">
    <thead>
    <tr>
        <th>
            E-mail
        </th>
        <th>
            First name
        </th>
        <th>
            Last name
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
        </tr>
    }
    </tbody>
</table>