@model WorkOrganizer.Domain.Entities.Project

@{
    ViewData["Title"] = "Project Details";
}

<div class="text-center">
    <h1 class="display-4">Project details</h1>
</div>

<div class=" float-sm-left">
    <div class="ui segment" style="width: 100% !important;">

        <p class="font-pr"><span><a class="nav-link text-dark" asp-action="EditProject" asp-route-id="@Model.Id">Edit project</a></span></p>
        <hr>
        <p class="font-pr"><span><a class="nav-link text-dark" asp-action="DeleteProject" asp-route-id="@Model.Id">Delete project</a></span></p>
        <hr>
        <p class="font-pr"><a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Index" asp-route-id="@Model.Id">Scheduled jobs</a></span></p>
        <hr>
        <p class="font-pr"><a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="ReportedJobs">Reported jobs</a></span></p>
        <p class="font-pr"><span><a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Projects">Add job</a></span></p>
        <hr>
        <p class="font-pr"><span><a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Projects">Users</a></span></p>
        <hr>
        <p class="font-pr"><span><a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Projects">Invite users</a></span></p>
        <hr>
        <p class="font-pr"><a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Projects">Back to projects</a></span></p>
        <hr>
        <p class="font-pr"><a class="nav-link text-dark" asp-area="" asp-controller="FileUpload" asp-action="Show" asp-route-id="@Model.Id">Add Files</a></span></p>
        <hr>
    </div>
    <hr class="d-sm-none">
</div>

<div class="table float-right" style="width:80%">
    <h4>Project: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Start Date
            @*@Html.DisplayNameFor(model => model.StartDate)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div class="table float-right" style="width:80%">
    <div>
        @foreach (var file in Model.Files)
        {      
            <table style="width:80%">
                <tr>
                    <td>@file.Name</td>
                    <td><a href="@file.Uri" target="_blank">Watch</a></td>                 
                </tr>
            </table>
        }
    </div>
</div>




@*
    <div>
        <a asp-action="EditProject" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Projects">Back to List</a>
    </div>
*@
