@model WorkOrganizer.Domain.Entities.Project

@{
    ViewData["Title"] = "Project Details";
}

<div class="text-center">
    <h1 class="display-4">Project details</h1>
</div>

<partial name="_NavBarProject" />

<p class="float-sm-right">
    <a asp-action="EditProject" asp-route-id="@Model.Id">Edit project</a>
    <br/>
    <a asp-action="DeleteProject" asp-route-id="@Model.Id">Delete project</a>
</p>

<div class="table float-right" style="width:80%">
    <h4>Project: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Start Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div class="table float-right" style="width:80%">
<h5>Project files: </h5>
</div>
<div class="table float-right" style="width:80%">
    <div>
            @foreach (var file in Model.Files)
            {
                <table class="table">
                    <tr>
                        <td>@file.Name</td>
                        <td class="float-right">
                            <a href="@file.Uri" target="_blank">Watch</a> |
                            <a asp-controller="FileUpload" asp-action="DeleteFile" asp-route-projectId="@Model.Id" asp-route-fileId="@file.Id">Delete</a>
                        </td>
                    </tr>
                </table>
            }
    </div>
    
</div>
