@model IEnumerable<WorkOrganizer.Domain.Entities.Project>

@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>



<p class="float-sm-right">
    <a asp-action="CreateProject" >Create New Project</a>
</p>
    <table class="table float-right" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Start Date
                    @*@Html.DisplayNameFor(model => model.StartDate)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @* <a asp-action="EditProject" asp-route-id="@item.Id">Edit</a> | *@
                    <a asp-action="ProjectDetails" asp-route-id="@item.Id">Open project</a>
                    @* <a asp-action="DeleteProject" asp-route-id="@item.Id">Delete</a> *@
                </td>
            </tr>
}
        </tbody>
    </table>


